.card{
    position: relative;
}
.card img{
    border: 5px solid white;
    border-radius: 10px;
    display: block;
    width: 100%;
    box-shadow: 3px 3px 8px #aaaaaa;
}

.card img:hover{
    cursor: pointer;
}
.card .front{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.flipped .front{
    transition-delay: 0.2s;
    transform: rotateY(0deg);
}

.card .back{
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
    
}