.App {
  text-align: center;
  max-width: 860px;
  margin: 40px auto;
}

button{
    background: white;
    box-shadow: 3px 3px 8px #aaaaaa;
    padding: 16px 22px;
    border-radius: 10px;
    color: black;
    border: none;
    font-size: 16px;
    transition: 0.5s;


}

button:hover{
  color: white;
  background: black;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
